@charset "UTF-8";

	/*admin_main*/
	
	ul,li{margin:0; padding:0; list-style-type:none;}
	#mainDiv{width:800px; margin:0 auto;}
	/* header 로고*/
	#mainTitle{height:200px;
		   font-size:3em; text-align:center;
		   line-height:200px;}
	/* 메뉴 */
	a:link, a:visited{text-decoration:none; color:#222}
	a:hover{text-decoration:none; color:#000; font-weight:bold}
	
	#menu{height:50px; border-top:2px solid gray;
		  border-bottom:1px solid gray;}	   
	#menu>li{float:left;line-height:50px; height:50px;
			width:20%; text-align:center;
			}
	/* 서브메뉴 */
	#menu>li>ul{border:1px solid gray; margin-top:1px; 
				position:relative; z-index:100;
				background-color:#fff; display:none;}
	/* 컨텐츠 이미지*/
	#content>img{width:100%}
	/* 버튼 */
	.btn{width:150px;height:40px;line-height:30px;
		background-color:#3E2B2C;color:#fff;
		border-radius:5px;font-size:16px;}
	.btn>a:visited, .btn>a:link{color:#fff;}
	.btn>a:hover{color:#ddd;}
	/* room_manage */
	#roomList, #roomList>li{margin:0; padding:0; list-style-type:none;}
	#roomList>li{float:left;width:10%;height:50px;
				  line-height:50px;text-align:center;
				  border-bottom:1px solid gray}
	#roomList>li:nth-of-type(10n-9){width:5%;text-align:left;}
	#roomList>li:nth-of-type(10n-1){width:15%;}
				/* 줄바꾸기 취소*/	 /*범위보다 크면 숨기기*/ /*넘치는 문자가 있을 때 ...으로 표시*/
	.wordCnt{white-space:nowrap; overflow:hidden; text-overflow:ellipsis}
	.container{overflow:hidden;height:auto;}
	
	/* bed_manage */
	#bedList>li{float:left;width:25%;height:50px;
				  line-height:50px;text-align:center;
				  border-bottom:1px solid gray}
	#bedList>li:nth-of-type(5n-2){text-align:right; padding-right:100px}
	#bedList>li:nth-of-type(5n-1){width:7%;}
	#bedList>li:nth-of-type(5n){width:8%;}
	
	/* room type manage*/
	#listTitle{padding:30px 0 10px 0; font-size:16px; border-bottom:1px solid gray }
	#typeList>li{float:left;height:100px;width:10%;
				  line-height:100px;text-align:center;
				  border-bottom:1px solid gray}
    #typeList>li:nth-of-type(6n-4){width:30%}
    #typeList>li:nth-of-type(6n-3){width:15%}
	#typeList>li:nth-of-type(6n-1){width:25%}

	/* room type add */
	.img_wrap{width:300px;margin-top:50px;}
	.img_wrap img{max-width:100%}

