@charset "UTF-8";



ul{list-style:none;}

.tabmenu{ 
  max-width:1280px; 
  margin: 0 auto; 
  position:relative;
  min-height:700px; 
  max-height:1000px;
}
.tabmenu ul li{
  display:  inline-block;
  width:25%; 
  float:left;  
  text-align:center; 
  background :#f9f9f9;
  line-height:40px;
}
.tabmenu label{
  display:block;
  width:100%; 
  height:40px;
  line-height:40px;
}
.tabmenu input{display:none;}
.tabCon{
  display:none; 
  text-align:left; 
  padding: 20px;
  position:absolute; 
  left:0; top:40px; 
  box-sizing: border-box; 
  border : 5px solid #f9f9f9;
}
.tabmenu input:checked ~ label{
  background:#ccc;
}
.tabmenu input:checked ~ .tabCon{
  display:block;
}
#come_crown_title{
	width:1280px;
	margin:0 auto;
	text-align:center;
}
#come_crown_title>h2{
	font-size:2em;
}
#bus{
	width:1280px;height:700px;margin:0 auto;
}
thead{
	margin:0 auto
}
#section{
	height:1500px;width:100%;margin-top:100px
}