@charset "UTF-8";
body{margin:0;padding:0}
h2{margin-bottom:30px;margin-top:0}
ul,li{list-style-type:none;margin:0;padding:0}
header{width:100%;margin:0 auto;height:50px;font-size:1em;text-align:center;line-height:15px;position:sticky;top:0;z-index:400;margin-top:-20px;opacity:0.9}
a:link,a:visited{text-decoration:none;color:#555;font-weight:inherit;}
a:hover{text-decoration:none;color:#D0BEA5;font-weight:inherit;}
#menubar{width:1280px;margin:0 auto;height:40px;background-color:white;position:relative;}
#menubar>li{float:left;line-height:30px;width:13.7%;text-align:center;height:30px;font-size:14px;font-style:inherit;}
#menubar>li>ul{position:relative;border-top:3px solid #AF8D5D;z-index:100;display:none;width:500px;height:500px;background-color:white;opacity:0.9}
#menubar>li>ul>img{width:300px;height:400px;position:absolute;right:50px;margin-top:50px}
#menubar>li>ul>li{float:left;height:50px;position:relative;width:400px;text-align:left;left:20px;}
#crown>a>img{width:100%;height:60px;margin-top:-20px}
#utilbarDiv{width:1280px;height:15px;background:white;margin:0 auto;}
#utilbar{width:500px;float:right;font-size:8px;height:15px;position:relative;top:0;z-index:500;left:100px}
#utilbar>p{margin:0 auto; height:30px}

section{width:100%;margin:0 auto;position:relative;top:50px;}

#footer{background-color:#F0F0F0;height:300px;bottom:0;margin-top:100px;position:relative;}
#homeFooter{margin:0;margin-left:30px;width:1280px;height:200px;position:relative;font-weight:bold;top:30px}
#homeFooterList{width:600px;height:100px;}
#homeFooterList li:first-child{margin-right:50px;margin-top:-30px}
#homeFooterList li{float:left;}

#footerhr{height:50px;z-index:5000;background-color:#555555;margin-top:0;width:100%;}
#companyIntroduction{width:300px;float:left;height:100px;}
#companyIntroduction>li{float:left;}